


p {
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.big-red{
	font-size: 60px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',sans-serif;
	font-weight: bolder;
	color: red;
}

#small-red{
	font-size: 10px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: lighter;
	color: coral;
}

th, td{
	border-width: 1px;
	border-style: solid;
	border-color: black;
	
}

table{
	border-collapse: collapse;
}

.coltest1 {
    background-color: lavenderblush;
}

.coltest2 {
    background-color: lightskyblue;
}